{erl_opts, [debug_info, warn_missing_spec, warn_untyped_record]}.
{deps, [
    {cowboy, "2.12.0"},
    {epgsql, "4.8.0"},
    {brod, "4.6.2"},
    {lager, "3.9.0"},
    {jiffy, "1.1.0"}
]}.

{relx, [
    {release, {pulse_agent_v1, "1.0.0"}, [
        pulse_agent_v1,
        cowboy,
        lager,
        brod,
        epgsql,
        jiffy
    ]},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {d, 'TEST'}]},
        {deps, [
            {proper, "1.3.0"}
        ]},
        {config, "config/test_sys.config"}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [pulse_agent_v1, lager, brod]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
